* {
    caret-color: transparent;
    font-family: sans-serif;
}

html {
    height: 100%;
    background-color: lightsteelblue;
}

body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

input {
    caret-color: auto;
}

h1 {
    margin-top: 0;
    font-size: 48px;
}

h2 {
    margin-bottom: 8px;
}

#div-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#div-input-and-btn,
#div-search button,
#div-search p {
    margin-right: auto;
}

#div-search p {
    margin-bottom: 12px;
}

#div-search input {
    max-width: 200px;
    margin-right: 8px;
}

#div-input-and-btn {
    display: flex;
}

.div-pic-desc-temp {
    display: flex;
}

p {
    margin-top: 0;
    margin-bottom: 4px;
}

.div-current {
    background-color: snow;
    border: 2px solid black;
    border-radius: 6px;
    padding: 2px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.div-current p {
    padding-left: 4px;

}

.div-current p:first-child {
    padding-top: 6px;
}


.div-forecast {
    display: flex;
    justify-content: space-between;
}

.div-daily-forecast {
    background-color: ghostwhite;
    padding: 2px;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    max-width: 150px;
    flex-direction: column;

}

.div-daily-forecast p {
    padding-left: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.div-daily-forecast p:first-child {
    padding-top: 6px;
}

.div-daily-forecast img {
    flex: 0;
    height: 102px;
    width: 102px;
    margin-left: auto;
    margin-right: auto;
}